.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media(min-width:1200px){
    .profile-container{
        min-height: 100vh;
        align-items: flex-start;
    }
}