.login-card {
    padding: 20px;
    font-size: 16px;
}

.login-card h1{
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: -0.015em;
    color: #fff;

    margin-top: 70px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

input[type=text], input[type=password]{
    font-size: 18px;
}

.login-link-recover {
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #407bff;
    display: block;
    margin-bottom: 60px;
    text-decoration: none;
}

.login-submit {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.login-submit button {
    height: 45px;
    width: 210px;
    border-radius: 10px; 
}
  
.login-link-register {
    font-size: 1em;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: #407bff;
    margin-left: 10px;
}
  
.not-registered {
    font-size: 1em;
    text-align: center;
    letter-spacing: -0.015em;
    color: #9e9e9e;
}
  
.signup-container {
    text-align: center;
    margin-bottom: 30px;
}
  
  @media(min-width:576px){
    .login-card {
        padding: 50px;
    }

    .login-submit button {
        width: 70%;
        font-size: 1.2em;
    }
  }
