.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 20px 20px;
}

.row-center{
    display: flex;
    align-items: center;
    justify-content: center;
}