.footer-container h6 {
    color: #5648C8;
    font-size: 12px;
}

.footer-container p {
    color: #262058;
    font-size: 12px;
}

.footer-container h5 {
    color: #8E85DA;
    font-size: 14px;
    font-weight: 700;
}

.github-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.github-logo a{
    text-decoration: none;
    margin-bottom: 0;
}

.github-logo p{
    margin-bottom: 0;
    margin-left: 8px;
}

.footer-download-zone{
    border-top: 1px solid #5648C8;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-download-zone a {
    text-decoration: none;
}

.footer-download-zone p {
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 5px;
}

@media(min-width:576px){
    .footer-container h6 {
        font-size: 16px;
    }
    
    .footer-container p {
        font-size: 14px;
    }
    
    .footer-container h5 {
        font-size: 18px;
    }
}

@media(min-width:768px){

    .github-logo{
        justify-content: flex-start;
    }
}