.profile-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 30px;
    background-color: #fff;
    width: 350px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.profile-card-image-container{
    padding-bottom: 10px;
    border-bottom: 2px solid silver;
}

.profile-card-image-container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid silver;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.profile-card-content-container{
    padding: 20px;

}

.profile-card-team-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card-team-container h2{
    color: #96FC58;
}

