.courses-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 700px;
}

.courses-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width:1200px){
    .courses-container{
        min-height: 100vh;
        justify-content: flex-start;
    }
}